body
{
  color:purple;
   background-image: url("https://c8.alamy.com/comp/2C1TKFY/emoji-smiley-background-vector-background-template-emoji-background-text-in-white-circle-empty-space-for-messages-with-smiley-emoticon-yellow-face-2C1TKFY.jpg"); 
   background-position: center;
    background-size: cover;
 
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading{
font-size: 18px;
border-radius: 10px;
letter-spacing: 10px;
}
